@import ./variables
  
*
  box-sizing: border-box
  position: relative
  color: $color_text
  font-family: '思源黑體', sans-serif
  
// html, body
//   margin: 0
//   padding: 0
//   height: 100%

a
  text-decoration: none
  &.left, &.right
    font-size: .8rem
    font-weight: 700
    color: $color_primary

input[type="text"], input[type="number"]
  // width: 200px

#editor
  input
    width: 50px
    border: none
    border-bottom: 1px solid #000
    text-align: right
    &::placeholder
      color: rgba(#999, .5)
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button
    -webkit-appearance: none

.apportionment
  display: flex
  align-items: center
  padding: 5px $container_padding
  border-bottom: 1px solid rgba(#999, .4)
  .icon
    width: 35px
    height: 35px
    border-radius: 50%
    margin-right: 10px
    overflow: hidden
    img
      width: 100%
      height: 100%
  .name
    font-weight: 400
    font-size: .8rem
  .wrapper.notZero
    &::before, &::after
      color: $color_text
