* {
  box-sizing: border-box;
  position: relative;
  color: #373b3f;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}
a.left, a.right {
  font-size: 0.8rem;
  font-weight: 700;
  color: #1bc29f;
}

input[type=text], input[type=number] {
  width: 200px;
}