@charset "UTF-8";
* {
  box-sizing: border-box;
  position: relative;
  color: #373b3f;
  font-family: "思源黑體", sans-serif;
}

a {
  text-decoration: none;
}
a.left, a.right {
  font-size: 0.8rem;
  font-weight: 700;
  color: #17a582;
}

#editor input {
  width: 50px;
  border: none;
  border-bottom: 1px solid #000;
  text-align: right;
}
#editor input::placeholder {
  color: rgba(153, 153, 153, 0.5);
}
#editor input[type=number]::-webkit-outer-spin-button,
#editor input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.apportionment {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}
.apportionment .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.apportionment .icon img {
  width: 100%;
  height: 100%;
}
.apportionment .name {
  font-weight: 400;
  font-size: 0.8rem;
}
.apportionment .wrapper.notZero::before, .apportionment .wrapper.notZero::after {
  color: #373b3f;
}